* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(180, 184, 190);
  font-family: monospace;
}

header {
  background-color:rgb(172, 70, 121);
  padding: 20px;
}

header > h1 {
  color: white;
  text-align: center;
  font-size: 72px;
}

img {
  height: 100px;
  width: 100px;
}

.scoreboardContainer {
    display: flex;
    height: 150px;
    border: 3px solid white;
    width: 80%;
    margin: 30px auto;
    font-size: 36px;
    position: relative;
    justify-content: center;
}

.scores {
  border: solid 4px black;
  width: 20%;
  text-align: center;
}

#player-board {
  margin-right: auto;
}

#cpu-board {
  margin-left: auto;
}

.gameBoard {
    height: 100%;
}

.options {
margin: 0 auto;
display: flex;
justify-content: center;

}

.options > .choice {
  justify-content: center;
  
}

.choice {
  display: inline-block;
  border: solid 4px white;
  border-radius: 50%;
  padding: 10px;
  margin: 0 50px;
  transition: all 0.7s ease;
  bottom: 50px;
}

.choice:hover {
  cursor: pointer;
  background-color: darkgray;
}
